body {
  background-color: black;
  color: white;
  font-size: 20px;
  background-image: url("freepik__expand__90310.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  min-width: 300px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
h1 {
  color: rgb(85, 84, 77);
  font-size: 40px;
}
h2 {
  margin-bottom: 0;
  font-size: 35px;
}
a {
  color: rgb(205, 137, 11);
}
.create {
  margin-bottom: 15px;
}
.email,
.name,
.num,
.pass {
  display: flex;
  flex-direction: column;
  width: 500px;
}
input {
  padding: 20px;
  border: 2px solid #a3a3a3;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin: 10px 0;
}
.name {
  flex-direction: row;
}
.name .fi input,
.name .la input {
  width: calc(100% - 45px);
}
button {
  display: block;
  width: 500px;
  max-width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: rgb(205, 137, 11);
  cursor: pointer;
  margin: 10px 0;
}
.req span {
  display: block;
}
.req,
.agg {
  width: 500px;
  max-width: 100%;
  text-align: center;
  display: block;
}

@media (max-width: 750px) {
  .container {
    max-width: 100%;
  }
  .email,
  .name,
  .num,
  .pass {
    width: 100%;
  }
  button {
    margin: 10px;
    width: 100%;
    max-width: 100%;
  }
  .name {
    display: block;
  }
  .req {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .agg {
    text-align: center;
  }
  .req,
  .agg {
    max-width: 100%;
    width: 100%;
  }
  h1 {
    margin-bottom: 0;
    text-align: center;
  }
  h2,
  .have {
    margin-top: 0;
    text-align: center;
    display: block;
  }
  label,
  .fi,
  .la {
    text-align: center;
  }
}
